.gitattributes export-ignore
.github/ export-ignore
.gitignore export-ignore
Makefile export-ignore
composer.json export-ignore
phpcs.xml export-ignore
phpunit.xml.dist export-ignore
tests/ export-ignore
